shanxi_frontend/.DS_Store
shanxi_frontend/node_modules/
shanxi_frontend/dist/
shanxi_frontend/npm-debug.log*
shanxi_frontend/yarn-debug.log*
shanxi_frontend/yarn-error.log*


.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
venv

shanxi_frontend/.idea
shanxi_frontend/.vscode
shanxi_frontend/*.suo
shanxi_frontend/*.ntvs*
shanxi_frontend/*.njsproj
shanxi_frontend/*.sln
shanxi_frontend/package-lock.json

shanxi_backend/.idea
shanxi_backend/.vscode
shanxi_backend/*.suo
shanxi_backend/*.ntvs*
shanxi_backend/*.njsproj
shanxi_backend/*.sln

__pycache__